form {
  display: block;
  justify-content: center;
  margin-bottom: 50px;
}

form div {
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

button {
  width: 120px;
  height: 50px;
}
